/* ==========================================================================
   GLOBAL
   ========================================================================== */

/* html
   ========================================================================== */

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* body
   ========================================================================== */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}



/* ==========================================================================
   STATES
   ========================================================================== */

/* .draggable
   ========================================================================== */

.draggable {
    -webkit-app-region: drag;
}

/* .show
   ========================================================================== */

.hide {
    visibility: collapse !important;
    opacity: 0 !important;
}

/* .hide
   ========================================================================== */

.show {
    visibility: visible !important;
    opacity: 1 !important;
}



/* ==========================================================================
   WEBVIEW
   ========================================================================== */

/* #webview
   ========================================================================== */

webview {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}



/* ==========================================================================
   TITLE BAR
   ========================================================================== */

/* #titlebar-background
   ========================================================================== */

#titlebar {
    display: block;
    height: 20px;
}


/* ==========================================================================
   SPINNER
   ========================================================================== */

/* spinner
   ========================================================================== */

#spinner {
    z-index: 1337;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center; /* center items horizontally, in this case */
    position: fixed;
    background-color: rgb(74, 179, 103);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 600ms, visibility 600ms ease-out;
    opacity: 1;
    visibility: visible;
}

/* spinner__logo
   ========================================================================== */

#spinner__logo {
    background-image: url("../images/logo.png");
    background-size: 50% auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 320px;
    height: 60px;
    margin: 2%;
    animation: pulsate 2000ms ease infinite;
}

/* spinner__logo
   ========================================================================== */

#spinner__icon {
    z-index: 13370;
    background-image: url("../images/icon.png");
    background-size: 100% 100%;
    border-radius: 100%;
    position: relative;
    transition: .5s linear;
    transform-style: preserve-3d;
    animation: rotate 2000ms linear infinite;
    height: 75px;
    width: 75px;
}

#spinner__icon:after, #spinner__icon:before  {
    background: rgb(74, 179, 103) -webkit-linear-gradient(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25));
}

#spinner__icon:after {
    background: rgb(74, 179, 103) -webkit-linear-gradient(hsla(0, 0%, 100%, .25), hsla(0, 0%, 0%, .25));
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    transform: rotateY(-90deg);
    transform-origin: 100% 50%;
    width: 5px;
    z-index: -10;
    left: 35px;
}

#spinner__icon:before {
    background: rgb(74, 179, 103) -webkit-linear-gradient(hsla(0, 0%, 100%, .25), hsla(0, 0%, 0%, .25));
    border-radius: 100%;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(-5px);
    height: 75px;
    width: 75px;
}

#spinner__icon:hover {
    transform: scale3d(2, 2, 2);
}



/* ==========================================================================
   ANIMATIONS
   ========================================================================== */

/* rotate
   ========================================================================== */

@-webkit-keyframes rotate {
    0% {  transform: rotateY(0deg);  }
    50% {  transform: rotateY(180deg);  }
    100% {  transform: rotateY(360deg);  }
}

@-webkit-keyframes pulsate {
    0% {  transform: scale3d(1,1,1);  }
    50% {  transform: scale3d(1.1,1.1,1.1);  }
    100% {  transform: scale3d(1,1,1);  }
}

/* ==========================================================================
   CONTROLS
   ========================================================================== */


/* controls__container
   ========================================================================== */

#controls {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ced1d5;
    padding: 12px;
    font-size: 16px;
    z-index: 100;
    cursor: pointer;
    transition: opacity 600ms, visibility 600ms ease-out;
    opacity: 0;
    visibility: collapse;
}

#controls:hover {
    background-color: rgba(255, 255, 255, 1.0);
}

/* controls__button
   ========================================================================== */

#controls .controls__button {
    transition: 0.25s;
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
}

#controls .controls__button .title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    color: #95a5a6;
    height: 26px;
    line-height: 26px;
    width: 0;
    padding-left: 0;
    transition: all 0.25s ease-in-out;
}

#controls:hover .controls__button .title {
    width: 75px;
    padding-left: 10px;
    transition: all 0.25s ease-in-out;
}

#controls .controls__button .icon {
    float: right;
    color: #95a5a6;
    width: 26px;
    height: 26px;
    padding: 0;
    font-size: 28px;
    line-height: 26px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

